# файл везде
fileeverywhere.txt

#директория везде
dir/

#директория в корне
/dir/

#файлы с расширением ххх в корне каталога dir
/dir/***.xxx

#файлы с расширением ххх во всем каталоге dir
/dir/**/***.xxx
